img{
    width: 245px;
    height: 300px;
    border-radius: 10px;
}

.place-bg {
   border-radius: 10px;
   margin-left: 10px;
}

.place-bg:hover {
    cursor: pointer;
    border: 2px solid rgb(255, 166, 0);
    
 }

 .text{
     padding-left: 10px;
     text-align: left;
     margin-top: -40px;
     color: cornsilk;
 }
