.hotel-map{
    margin-top: 80px;
    border-top: 1px solid gray;
}
.hotel-part{
    width: 50%;
   
    float: left;
   
}
.map-part{
    margin-left: 55%;
    width: 500px !important;
    height: 500px !important;
    
  
}
.tittle{
    padding-top: 10px;
}






