.logo {
    margin-left: 100px;
    width: 100px;
    height: 50px;
}
/* .background-image  {
    background-image: url('../../images/background-image.png');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
   
} */

.full-container {
    padding-top: 150px;
    padding-right: 30px;
}
.historical-place{
    display: flex;
    float: right;
}
/* .manu{
    
    font-weight: 600;
    padding-right: 200px;
}
.manu:hover {
  
   
    font-weight: 600;
    padding-right: 200px;
} */


/* .text{
    padding: 15px;
    color: rgb(19, 18, 16);
    margin-right: 30px;
} */
/* .text:hover{
   border-radius: 5px;
   background-color: rgb(158, 84, 0);
   text-decoration: none;
   color: black;

} */

.manu{
 
    margin-left: 27%;
}
.manu-text{
    text-decoration: none;
    padding: 10px 30px;
    color: black !important;
}
.manu-text:hover{
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(158, 84, 0);
}